<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Cleargo\Clearomni\Api\ProductInfoManagementInterface" type="Cleargo\Clearomni\Model\ProductInfoManagement"/>
	<preference for="Cleargo\Clearomni\Api\ProductAttributeManagementInterface" type="Cleargo\Clearomni\Model\ProductAttributeManagement"/>
	<preference for="Cleargo\Clearomni\Api\OrderManagementInterface" type="Cleargo\Clearomni\Model\OrderManagement"/>
	<preference for="Cleargo\Clearomni\Api\OrderStatusManagementInterface" type="Cleargo\Clearomni\Model\OrderStatusManagement"/>
</config>
