<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <clearomni>
            <clearomni>
                <exchange_success>no_template</exchange_success>
                <refund_success>no_template</refund_success>
                <exchange_requested>no_template</exchange_requested>
                <exchange_rejected>no_template</exchange_rejected>
                <exchange_acknowledged>no_template</exchange_acknowledged>
                <pending_transfer>no_template</pending_transfer>
                <expired>no_template</expired>
                <canceled>no_template</canceled>
                <ready_to_pick>no_template</ready_to_pick>
                <base_url/>
            </clearomni>
        </clearomni>
    </default>
</config>