<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Cleargo\Clearomni\Api\ProductManagementInterface" type="Cleargo\Clearomni\Model\ProductManagement"/>
	<preference for="Cleargo\Clearomni\Api\ProductAttributeManagementInterface" type="Cleargo\Clearomni\Model\ProductAttributeManagement"/>
	<preference for="Cleargo\Clearomni\Api\OrderManagementInterface" type="Cleargo\Clearomni\Model\OrderManagement"/>
	<preference for="Cleargo\Clearomni\Api\OrderStatusManagementInterface" type="Cleargo\Clearomni\Model\OrderStatusManagement"/>
	<preference for="Cleargo\Clearomni\Api\OrderItemRepositoryInterface" type="Cleargo\Clearomni\Model\OrderItemRepository"/>
	<preference for="Cleargo\Clearomni\Api\Data\OrderItemInterface" type="Cleargo\Clearomni\Model\OrderItem"/>
	<preference for="Cleargo\Clearomni\Api\Data\ApiResultInterface" type="Cleargo\Clearomni\Model\ApiResult"/>
	<preference for="Cleargo\Clearomni\Api\Data\OrderItemSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<type name="Magento\Sales\Model\OrderRepository">
		<plugin name="orderrepository_plugin" type="Cleargo\Clearomni\Plugin\ExtraInfo" sortOrder="1000" disabled="false" />
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order">
		<plugin name="order_plugin" type="Cleargo\Clearomni\Plugin\Order" sortOrder="1000" disabled="false" />
	</type>
	<type name="Magento\Checkout\Model\Cart">
		<plugin name="cart_plugin" type="Cleargo\Clearomni\Plugin\Cart" sortOrder="0" disabled="false" />
	</type>
</config>
