<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="checkout_submit_all_after">
		<observer name="clearomni_sales_order_place_after_observer" instance="Cleargo\Clearomni\Observer\SalesOrderPlaceAfterObserver" />
	</event>
	<event name="checkout_submit_before">
		<observer name="clearomni_sales_order_place_before_observer" instance="Cleargo\Clearomni\Observer\SalesOrderPlaceBeforeObserver" />
	</event>
	<event name="cleargo_multicart_member_placeorder_before">
		<observer name="cleargo_multicart_member_placeorder_before_observer" instance="Cleargo\Clearomni\Observer\MultiCartOrderPlaceBeforeObserver" />
	</event>
</config>
